.cnPostCardRoot{
    margin-top: max(3vh, 30px);
    display: flex;
    flex-direction: column;
    width: 848px;
    max-width: 80vw;
    background-color: #f5d5ed;
    border: 1px solid #3d3657;
    margin-left: auto;
    margin-right: auto;
}

.cnPostCardHeader{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 6vh;
    min-height: 40px;
    padding-left: 20px;
    background-color: #9e86dc;
}

.cnPostCardImg{
    width: 848px;
    height: 480px;
    max-width: 80vw;
    max-height: 45vw;
}

.cnPostCardLikeIcon{
    padding: 10px;
    cursor: pointer;
}

.cnPostCardLikes{
    font-size: 14px;
    font-weight: 600;
    padding: 0 0 10px 10px;
}



