.cnPostCardRoot{
    display: flex;
    flex-direction: column;
    width: 600px;
    border: 1px solid hotpink;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.cnPostCardHeader{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 60px;
    padding-left: 20px;
    background-color: white;
}

.cnPostCardImg{
    height: 300px;
    width: 100%;
}

.cnPostCardButtons{
    display: flex;
    padding: 10px;
}

.cnPostCardLikes{
    font-size: 14px;
    font-weight: 600;
    padding: 10px;
}

.cnPostCardComments{
    display: flex;
    flex-direction: column;
    padding: 0 10px 10px 10px;
}

.cnPostCardTextArea{
    border: none;
    background-color: red;
    padding: 10px;
    outline: none;
    resize: none;
}

.cnPostCardLikeIcon{
    margin-right: 10px;
    cursor: pointer;
}

.cnPostCardCommentIcon{
    cursor: pointer;
}


